<div class="container">
    <div class="row">
        
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li class="active">Usuários</li>
        </ol>

        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar usuário...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Buscar</button>
                </span>
            </div>
        </div>

    	<table class="table table-hover">
    		<thead>
    			<tr>
	    			<th>Nome</th>
	    			<th>Email</th>
	    			<th>Ações</th>
	    		</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>Kappa</td>
    				<td>kappa@twitch.tv</td>
    				<td>
    					<a href="/admin/users/edit">Editar</a>
    					<a class="remove" href="">Excluir</a>
    				</td>
    			</tr>
    			<tr>
    				<td>Keppo</td>
    				<td>Keppo@twitch.tv</td>
    				<td>
    					<a href="/admin/users/edit">Editar</a>
    					<a class="remove" href="">Excluir</a>
    				</td>
    			</tr>
    			<tr>
    				<td>Karls</td>
    				<td>Karls@twitch.tv</td>
    				<td>
    					<a href="/admin/users/edit">Editar</a>
    					<a class="remove" href="">Excluir</a>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</div>