<div class="container">
    <div class="row">
    	
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li class="active">Usuários <small>(Deletados)</small></li>
        </ol>

        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar usuário...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Buscar</button>
                </span>
            </div>
        </div>

    	<table class="table table-hover">
    		<thead>
    			<tr>
	    			<th>Nome</th>
	    			<th>Email</th>
	    			<th>Deletado Em</th>
	    		</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>Kappa</td>
                    <td>kappa@twitch.tv</td>
    				<td>12/12/2016 10:08:58</td>
    			</tr>
    			<tr>
    				<td>Keppo</td>
                    <td>Keppo@twitch.tv</td>
    				<td>15/08/2016 04:11:09</td>
    			</tr>
    			<tr>
    				<td>Karls</td>
                    <td>karls@twitch.tv</td>
    				<td>24/05/2016 14:31:16</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</div>