<div class="container">
    <div class="row">
    	
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li class="active">Usuários <small>(Deletados)</small></li>
        </ol>

        <div class="search">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar usuário..." name="q" value="<%= (req.query && req.query.q) ? req.query.q : '' %>">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </span>
                </div>
            </form>
        </div>

    	<table class="table table-hover">
    		<thead>
    			<tr>
	    			<th>Nome</th>
	    			<th>Email</th>
	    			<th>Deletado Em</th>
	    		</tr>
    		</thead>
    		<tbody>
    			<% users.forEach(function(user)  { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= DateHelper.dateFormater(user.deleted_at) %></td>
                    </tr>
                <% }); %>
    		</tbody>
    	</table>
    </div>
</div>